<h1 class="text-center">Tables Status</h1>
<% @tables.each_with_index do |table, index| %>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= table.source_name %></a>
          <div class="pull-right">
            <span><strong>Last copy</strong>: <%= time_ago_in_words(table.updated_at) %> ago</span>
            <span><strong>Updated key</strong>: <%= table.max_updated_key %></span>
          </div>
        </h4>
      </div>
      <div>
        <% unless table.insert_only %>
          <% form_tag "/tables/#{table.id}/reset", class: "form-inline" do %>
            <%= label_tag "Rewind to" %>
            <input type="text" name="datetime" placeholder="2016-01-01 12:34:56"/>
            <%= label_tag "Delete data after this point?" %>
            <input type="checkbox" name="delete_on_reset" />
            <button type="submit" class="btn btn-primary">Reset</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>